.muiPaper {
  display: grid;
  place-content: center;
  background: var(--bg-lvl-3-clr) !important;
  transition: var(--theme-animation);
}

.mainGrid {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 32px;
  padding: 16px;
  text-align: center;
  transition: var(--theme-animation);

  .title {
    text-align: center;
    color: var(--title-clr);
    transition: var(--theme-animation);
  }

  .exchangeRate {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--title-clr);
    transition: var(--theme-animation);
  }

  .exchangedData {
    color: var(--text-clr);
    transition: var(--theme-animation);
  }
}
