.muiPaper {
  background: var(--bg-lvl-2-clr);
}

.mainGrid {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 32px;
  padding: 16px;
  text-align: center;

  .title {
    text-align: center;
    color: var(--title-clr);
  }

  .exchangeRate {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--title-clr);
  }

  .exchangedData {
    color: var(--text-clr);
  }

  .inputsGrid {
    display: grid;
    gap: 24px;

    .inputContainer {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 16px;
    }
  }
}
