.mainGrid {
  display: grid;
  // grid-template-rows: auto 1fr 1fr;
  gap: 16px;
  padding: 16px;

  h2 {
    text-align: center;
  }

  .newsGrid {
    display: grid;
    gap: 16px;
  }
}

.newsCardLink {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  .newsCard {
    padding: 12px;
  }
}
