.muiPaper {
  background: var(--bg-lvl-2-clr);
}

.mainGrid {
  display: grid;
  // grid-template-rows: auto 1fr 1fr;
  gap: 16px;
  padding: 16px;
  height: 100%;

  .title {
    text-align: center;
    color: var(--title-clr);
  }

  .newsGrid {
    display: grid;
    gap: 16px;
  }
}

.buttonGrid {
  display: grid;
  place-content: center;
}

.muiButton {
  button {
    width: fit-content;
  }
}
