.newsCardLink {
  // transition: transform 0.3s;

  &:hover {
    // transform: scale(1.02) !important;
  }

  .newsCard {
    padding: 12px;
    background: var(--bg-link-clr);
    transition: var(--theme-animation);

    .cardTitle {
      color: var(--accent-clr);
    }
  }
}
