.muiPaper {
  background: var(--bg-lvl-2-clr);
}

.mainGrid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;
  padding: 16px;

  .title {
    text-align: center;
    color: var(--title-clr);
  }

  .inputsGrid {
    display: grid;
    gap: 24px;

    .inputContainer {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 12px;
    }
  }
}

.input {
  input {
    color: var(--text-clr);
  }

  label {
    color: var(--text-clr);
  }

  fieldset {
    border-color: var(--text-clr);
  }

  &:hover fieldset {
    border-color: var(--accent-clr) !important;
  }
}
