.muiPaper {
  background: var(--bg-lvl-3-clr);

  .inputsGrid {
    display: grid;
    gap: 24px;

    .inputContainer {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 12px;
    }
  }
}

.muiInput {
  input {
    color: var(--text-clr) !important;
    -webkit-text-fill-color: initial !important;
  }

  label {
    color: var(--input-clr) !important;
  }

  fieldset {
    border-color: var(--input-clr) !important;
  }

  &:hover fieldset {
    border-color: var(--accent-clr) !important;
  }
}

.muiInputDisabled {
  input {
    color: var(--text-disabled-clr) !important;
    -webkit-text-fill-color: initial !important;
  }

  label {
    color: var(--text-disabled-clr) !important;
  }

  fieldset {
    border-color: var(--text-disabled-clr) !important;
  }
}

.muiSelect {
  div {
    color: var(--text-clr) !important;
  }

  svg {
    color: var(--input-clr);
  }

  fieldset {
    border-color: var(--input-clr);
  }

  &:hover fieldset {
    border-color: var(--accent-clr) !important;
  }
}
