.section {
  display: grid;
  place-content: center;
  gap: 32px;
  margin: 0 auto;
  max-width: 1300px;
  height: 100vh;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
