@use '../../../../styles/abstracts/variables' as a;

.section {
  display: grid;
  place-content: center;
  gap: 32px;
  padding: calc(48px + 16px) 12px 12px;
  margin: 0 auto;
  min-height: 100vh;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .content {
    display: grid;
    gap: 16px;
    max-width: var(--max-width);
  }
}

@media (min-width: a.$breakpoint-1) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
