.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 26px;
  background: var(--bg-lvl-1-clr);
  transition: var(--theme-animation);
  z-index: 5;

  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: var(--max-width);
  }
}

.link {
  color: var(--accent-clr);
}
